* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	margin: 0;
}

@font-face {
	font-family: 'Montserrat';
	src: url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
}

nav {
	background-color: #dad1c5;
	margin: 0;
	height: 60px;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav a {
	text-decoration: none;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

nav a:nth-child(2) {
	margin-left: 35px;
	margin-right: 35px;
}

h1 {
	margin: 0;
}


.header-1 {
	background-color: #dad1c5;
	height: 50vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.am {
	font-family: "Courier New", monospace;
	font-size: 8rem;
	margin: 0px;
}

.welcome {
	font-family: "Courier New", monospace;
	font-size: 0.9rem;
}

.header-2 {
	background-image: url("https://images.unsplash.com/photo-1617653695386-1d78957d33f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 600px;
}

main {
	background-color: black;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 5%;
	padding-right: 5%;
}

.about {
	margin: 5%;
	width: 45%;
}

main h2 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 2%;
	font-size: 1.7rem;
}

main h3 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	font-size: 1.1rem;
}

.me {
	border-radius: 50%;
	margin: 5%;
}

.portfolio {
	background-image: url("https://images.unsplash.com/photo-1617653695386-1d78957d33f8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio h2 {
	color: white;
	line-height: 1.6;
	font-size: 4rem;
	margin-bottom: 5%;
}

.proj {
	width: 75%;
	padding-bottom: 12%;	
}

.proj-img {
	width: 30%;
	height: 200px;
}

.proj-img img {
	width: 100%;
}

.proj h3 {
	padding-bottom: 2%;	
}

.proj-content {
	display: flex;
	align-items: center;
	flex-direction: row;
}

.proj-desc {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 200px;
	width: 70%;
}

.proj-desc h4 {
	line-height: 1.6;
	font-size: 1rem;
	margin-left: 18px;
	text-align: left;
}

.proj-links {
	text-align: right;
}

footer {
	background-color: #dad1c5;
	font-family: 'Montserrat', sans-serif;
}

footer h1 {
	font-size: 8rem;
	padding-top: 100px;
	padding-left: 1%;
}

footer button {
	margin-bottom: 100px;
	margin-left: 1%;
	padding: 5px;
	border: 3px solid #7d91ac;
	border-radius: 8px;
	font-size: 1.15rem;
	font-weight: bold;
}

.contact-links {
	display: flex;
	justify-content: space-between;
	font-size: 1.15rem;
	font-weight: bold;
}

.platforms :nth-child(2) {
	margin-left: 35px;
	margin-right: 35px;
}

.cv {
    border: 3px solid #7d91ac;
    border-radius: 8px;
    padding: 3px 8px;
}




 @media screen and (max-width: 1000px) {
	.header-1 {
		flex-direction: column;
	}
	
	.welcome {
		font-size: 0.9rem;
	}
	
	.am {
		font-size: 7.5rem;
	}

}






@media screen and (max-width: 700px) {
	
	.welcome {
		font-size: 0.65rem;
	}
	
	.am {
		font-size: 5.5rem;
	}
	
	main {
		flex-direction: column;
		height: 100vh;
	}
	
	main h3 {
		font-size: 0.9rem;
	}
	
	.about {
		width: 70%;
	}
	

	.proj-desc h4 {
		font-size: 0.75rem;
	}
}




